/*body{
    margin: 0;
    padding: 0;
    height: 1oovh;
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.slider{
    width: 1024px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;

}
.slide .sl{
    width: 1024px;
    height: 500px;
}
.navigation-manual{
    position: absolute;
    width: 1024px;
    margin-top:-60px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0s;
}
.manual-btn:not(:last-child){
    margin-right:40px
}
.manual-btn:hover{
    background:#40D3DC ;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
#radio6:checked ~ .first{
    margin-left: -100%;
}
#radio7:checked ~ .first{
    margin-left: -120%;
}
#radio8:checked ~ .first{
    margin-left: -140%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 1024px;
    justify-content: center;
    margin-top: 440px;
}
.navigation-auto #auto-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 0s;
}
.navigation-auto #auto-btn:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40d3dc;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40d3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40d3dc;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40d3dc;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: #40d3dc;
}
#radio6:checked ~ .navigation-auto .auto-btn6{
    background: #40d3dc;
}
#radio7:checked ~ .navigation-auto .auto-btn7{
    background: #40d3dc;
}
#radio8:checked ~ .navigation-auto .auto-btn8{
    background: #40d3dc;
}
@media only screen and (max-width:720px){
    .slider {
        padding-left: 0px;
        width: 373px;
        height: 195px;
        border-radius: 10px;
        overflow: hidden;
        margin: auto;

    }

    .slides {
        width: 500%;
        height: 500px;
        display: flex;
    }

    .slider .slides .slide .sl {
        width: 373px;
        height: 195px;
        display: inline-block;
    }

    .slide {
        width: 20%;
        transition: 2s;

    }

    .navigation-manual {
        width: 373px;
        margin-top: -322px;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    } 
    .manual-btn:not(:last-child){
        margin-right:10px
    }
    #radio1:checked ~ .first{
        margin-left: 0;
    }
    #radio2:checked ~ .first{
        margin-left: -20%;
    }
    #radio3:checked ~ .first{
        margin-left: -40%;
    }
    #radio4:checked ~ .first{
        margin-left: -60%;
    }
    #radio5:checked ~ .first{
        margin-left: -80%;
    }
    #radio6:checked ~ .first{
        margin-left: -100%;
    }
    #radio7:checked ~ .first{
        margin-left: -120%;
    }
    #radio8:checked ~ .first{
        margin-left: -140%;
    }
    .navigation-auto{
        position: absolute;
        display: flex;
        width: 373px;
        justify-content: center;
        margin-top: 178px;
    }
    .navigation-auto #auto-btn{
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        transition: 0s;
    }
    .navigation-auto #auto-btn:not(:last-child){
        margin-right: 10px;
    }
    #radio1:checked ~ .navigation-auto .auto-btn1{
        background: #40d3dc;
    }
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background: #40d3dc;
    }
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background: #40d3dc;
    }
    #radio4:checked ~ .navigation-auto .auto-btn4{
        background: #40d3dc;
    }
    #radio5:checked ~ .navigation-auto .auto-btn5{
        background: #40d3dc;
    }
    #radio6:checked ~ .navigation-auto .auto-btn6{
        background: #40d3dc;
    }
    #radio7:checked ~ .navigation-auto .auto-btn7{
        background: #40d3dc;
    }
    #radio8:checked ~ .navigation-auto .auto-btn8{
        background: #40d3dc;
    }
    .biglogo{
        padding-left: 152px;
        width: 90px;
        display: block;
    }
    h5{
        padding-top: 14px;
        padding-left: 45px;
        font-size: medium;
    }
}